<div class="card">
  <div class="card-header card-header-title">

    <div class="column">
      <h1>Post</h1>
      <h3>Title: {{title}}</h3>
    </div>

    <div class="column">
      <p>Posted By: {{user.username}} on {{format_date created_at}}</p>
      <a href="/dashboard/editPost/{{id}}" class="edit-post">Edit Your Post</a>
    </div>

  </div>

  <div class="card-content">
    <div class="content">
      {{post_body}}
    </div>
    <div>
      <b>{{user.username}}</b>
      <a href="#anchor-comments">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    </div>
  </div>

</div>